.button {
    width: 100%;
    height: 50px;
    border: none;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    max-width: 300px;
    border-radius: 5px;
    background-color: #03435F;
}

.button:hover {
    background-color: "#03435F";
}

.input-field {
    height: auto;
    outline: none;
    font-weight: 400;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.7);
    width: -webkit-fill-available;
    transition: all .3s ease-in-out;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background: rgba(47, 128, 237, 0.05);
}

.input-field:focus,
.input-field:hover {
    border: 1px solid #03435F;
}

.input-field::placeholder {
    color: rgba(0, 0, 0, 0.3);
}

.otp-input {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

input[type=checkbox] {

}

.otp-input {
    margin: auto;
    margin-top: 10px;
    width: fit-content;
}

.otp-input li {
    margin-right: 10px;
}

.otp-input li:last-child {
    margin-right: 0px;
}