.center {
  width: 100%;
  height: 100%;
  position: absolute;
}

.border-red {
  border: 1px solid red;
}

.App {
  width: 100%;
  height: 100%;
  text-align: center;
  position: relative;
}

.App-overlay {
  opacity: 50%;
  position: absolute;
  background-color: #000000;
}

.App-widget {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 450px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ffffff;
}

.App-widget .header {
  height: auto;
}

.widget-content {
  height: 310px;
  display: flex;
  overflow-y: auto;
  margin-top: 20px;
  overflow-x: hidden;
}

.widget-content::-webkit-scrollbar {
  width: 10px;
}

.widget-content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.widget-content::-webkit-scrollbar-thumb {
  border-radius: 5px;
  transition: .3s all ease-in-out;
  background: rgba(206, 206, 206, 0.7);
}

.widget-content::-webkit-scrollbar-thumb:hover {
  background: rgba(206, 206, 206, 1);
}

.widget-content > * {
  margin: auto;
  max-width: 300px;
}

.Widget-content-title {
  font-size: 16px;
  font-weight: 700;
}